<html>
        <head>
            <style>
                .title{
                    color: rgb(255, 145, 0);
                    font-size: 16px;
                }

                .message{
                    color:black;                
                }

            </style>
             </head>
            <body>
                <h2 class="title">
                    Please confirm your email
                    </h2>
                    <span class='message'>
                        Click  <a href=<%= url %>> here </a> to confirm your email address.
                    </span>
            </body>
</html>
